@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

/* font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif; */


$colorNegro: #373737;
$colorGris: #3D3D3D;
$colorVioleta: #9747FF;
$colorVioletaHover: #532095;
$colorAmarillo: #FFCE00;
$colorBlanco: white;
$roboto: 'Roboto', sans-serif;
$robotoCondensed: 'Roboto Condensed', sans-serif;

$margins: 2rem;


#contactanos{
    background-color: rgb(14, 14, 14);
    color: white;
    padding: 150px;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

//Modificaciones Bootstrap
.btn-close{
    opacity: 100%;
}
.text-bg-dark{
    background-color: $colorAmarillo !important;
}
.offcanvas-body{
    font-size: 1.5rem;
    font-weight: 900;
    //width: fill;

    li{
        padding-right: 2%;
    }

    li:last-child{
        padding-right: 0px;
        //background-color: red;
    }

    a{
        color: $colorNegro !important;
    }

    a:hover{
        color:$colorVioleta !important;
    }
}



//Previamente full estaba aca




// ⁡⁢⁣⁣START⁡ HERO SECTION

.navbar{
    padding: 8px calc(1/2)*$margins !important; //por defecto agrega 8 top-bottom padding, no afecta borde derecho
    margin: 0 !important;
    display: flex !important;
    justify-content: space-evenly !important;
    //background-color: pink;

    div{
        //background-color: blue;
        padding: 0 !important;
        margin: 0 !important;

        div div ul{
            padding: 0 !important;

            li{
                text-align: center;
            }
        }
    }
}

header.homepage{
    height: 100svh;
    width: 100%;
    background-image: url(./img/Auto\ amariilo.png);
    background-repeat: no-repeat;
    background-size: 700%;
    background-position: right 58% bottom 50%;
    position:relative
}

.imgLogo{
    height: 30px;
    width: auto;
    
}

.call{
    width: 100%;
    height: auto;
    padding: 2rem;
    border: none;
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    // background-color: red;
}

.call h1{
    font-size: 11vw;
    font-weight: 700;
    //padding-bottom: 1rem;
}

.call h2{
    width: 70vw;
    font-size: 4vw;
    text-align: center;
    // padding-left: 2rem;
    //padding-right: 2rem;
    font-weight: 700;
    padding-bottom: 24px;

}

.call a{
    color: $colorBlanco;
    font-weight: bold;
    font-size: 25px;
    background-color: $colorVioleta;
    box-shadow: 3px 3px 5px 1px $colorNegro;
    text-decoration: none;
    padding:0.8rem 2rem;
    border-radius: 100px;
    transform: scale(0.7);
}

.call a:hover{
    background-color: $colorVioletaHover;
}

.call a:active{
    background-color: $colorAmarillo;
}

header i{
    position: absolute;
    left: 50%;
    top: 95%;
    color: white;
    //background-color: white;
    transform: translate(-50%, -50%);
    }  
    

// ⁡⁢⁣⁣FIN⁡ HERO SECTION

.navbarSticky{
    background-color: $colorBlanco;
    padding: 20px;
    position: sticky;
    top: 0px;
    border-bottom:  2px  solid $colorAmarillo;
}

// ⁡⁢⁣⁣START⁡ QUIENES SOMOS
.imgFachada{
    border-radius: 4vw !important;
    width: 100%;
    //background-color: pink;
}

.logoGif{
  //  background-color: blue;
    width: auto;
    height: auto;
    display: none;
}


.quienesSomos p{
    //background-color: red;
    max-width: 500px;
    font-size: 4vw;
    font-weight: bolder;
    text-align: justify;
    line-height: 4vw;
}
//28px para full screen
// ⁡⁢⁣⁣FIN⁡ QUIENES SOMOS


.footer{
    height: auto;
    background-color: rgb(49, 49, 49);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-end;

}

.copyright{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 1rem;
    color: $colorBlanco;

}
.copyright a{
    color: $colorBlanco;
    text-decoration: none;
    letter-spacing: 15px;
    font-size: 1.5rem;
   // background-color: red;
}


//​‌‌‌⁡⁣⁣⁢RESEÑAS⁡​


div.resenas{
    height: auto;
    background-color: $colorAmarillo;
    padding-top: 20px;

    .cardResenas{
        transform: scale(0.7); //CREA MARGENES INVISIBLES PORQUE NO ESCALA EL DIV
        display: inline-block;
        height: 347px;
        background-color: white;
        text-align: center;
        display: flex;
        flex-direction: column;
        //justify-content: center;
        align-items: center;
        border-radius: 2rem;
        padding: 0 2.3rem 0;
        box-shadow: 4px 4px 10px 0px transparentize($color: $colorVioleta, $amount: 0.5);

        .posicion{
            position: relative;
            top: 2.3rem;
            

            div.estrellas{
               // background-color: pink;
                color: $colorAmarillo;
                font-size: 1.8rem;
                word-spacing: 0.5rem;
                margin-bottom: 1rem;
            }
    
            div.texto{
                //width: 300px;
                //background-color: pink;
                font-size: 1.5rem;
                font-weight: bold;
                text-align: justify;
                line-height: 1.5rem;
            }
        }


    
    }

    .cardResenas--s{
        width: 384px;
        min-width: 384px;
        //min-width: calc(384px - (408px - 360px));
    }

    .cardResenas--l{
        width: 816px;
        min-width: 816px;
        display: none;

    }

}

//​‌‌‌⁡⁣⁣​‌‌‌⁡⁣⁣⁢REPUESTOS⁡​​

.espacio{
    height: 125px;
    //background-color: red;
    width: 100%;
    background-image: url(./img/Todo\ motor\ single\ pattern.svg);
    background-repeat: repeat;
    background-size: 6.25vw;
}

.esp1{
    background-color: $colorAmarillo
}

.esp2{
    background-color: $colorBlanco
}

.repuestos{
    height: auto;
    width: 100%;
    background-image: url(./img/Todo\ motor\ single\ pattern.svg), linear-gradient($colorNegro,$colorGris);
    background-size: 6.25vw;

    
    li{
        color: $colorBlanco;
        font-size: 30px;
        font-weight: bolder;
        text-align: center;
        padding: 12px 0;
    }

}

div.entreOtros{
    height: auto;
    width: 100%;
    background-color: $colorNegro;
    color: $colorBlanco;
    text-align: center;
    font-weight: bolder;


    .titulo{
        font-size: 30px;
        text-transform: uppercase;
        padding-top: 24px;
    }

    .escribinos{
        font-size: 15px;
    }

    a{
        margin: 0 auto;
        width: auto;
        color: $colorBlanco;
        font-weight: bold;
        font-size: 25px;
        background-color: $colorVioleta;
        box-shadow: 3px 3px 5px 1px $colorNegro;
        text-decoration: none;
        padding: 0.8rem 2rem !important;
        border-radius: 100px;
        transform: scale(0.7);
        margin-bottom: 24px;
    }

}

//​‌‌‌⁡⁣⁣⁡⁣⁣⁡⁣⁣⁢​‌‌‌COMPRA ONLINE.​⁡

.compraOnline{
    height: 100vh;
    width: 100%;
    background-color: $colorAmarillo;
    margin: $margins 0 $margins;
    text-align: center;
    font-weight: bold;
    font-size: 18px;

    a{
        color: $colorBlanco;
        font-size: 38px;
        text-decoration: none;
        text-shadow: 2px 2px 4px transparentize($color: $colorVioleta, $amount: 0.5);
    }

    a:hover{
        text-shadow:
        -1px -1px 0 $colorNegro,  
        1px -1px 0 $colorNegro,
        -1px  1px 0 $colorNegro,
        1px  1px 0 $colorNegro,
        2px 2px 4px transparentize($color: $colorVioleta, $amount: 0.5);
    }

    a:active{
        color: $colorVioletaHover;
    }

    p{
        display: inline-block;
    }

    img{
        scale: 0.3;
        margin-top: -50px;
    }
}

//​‌‌‌⁡⁣⁣⁢CONTACTANOS 2⁡​

footer{
    height: auto;
    background-color: $colorGris;
    padding: 0 6rem 0;
    margin-top: 20%;
    background-image: url(./img/Todo\ motor\ single\ pattern.svg);
    background-size: 6.25vw;
}

.contactanos2{
    //background-color: black;
    
    margin:0;
    font-weight: bold;
    height: auto;
    position: relative;
    top: -375px;
    

    

    h1{
        font-size: 4vw;
        font-weight: 700;
    }

    .mapaContacto{
        display: grid;
        grid-template-columns: 7fr 5fr;
        grid-template-rows: 200px auto auto;
        grid-template-areas:
            "mapa grillaInfo"
            "mapa formulario"
            ".    boton";
        margin-bottom: -275px;

        .mapa{
            grid-area: mapa;
            height: 100%;
            //background-color: pink;
            padding: 0;
    
            iframe{
                //background-color: blue;
                height: stretch;
                width: stretch;
                margin-right: $margins;
                border-radius: 1vw;
            }
            
        }
    
        .grillaInfo{
            grid-area: grillaInfo;
            //background-color: lavender;
            height: 200px;
            display: grid;
            grid-template-columns: 24px auto;
            grid-template-rows: repeat(4, 40px);
            gap: 10px;
            font-size: 28px;
    
            i{
                //background-color: cyan;
                font-size: 30px;
                width: 24px;
                text-align: left;
                line-height: 40px;
                font-weight: 900;
                
            }
    
            .fa-envelope{
                font-size: 24px;
            }
    
            a{
                color: $colorVioleta;
                text-decoration: none;
            }
    
        }
    
    
        .formulario{
            grid-area: formulario;
            //background-color: orange;
            min-height: calc(100% - 200px);
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 45px 45px auto;
            grid-template-areas: 
                "nombre email"
                "asunto asunto"
                "mensaje mensaje";
            gap: 6px 6px;
            font-size: 20px;
            font-family: $roboto;
            
            input{
                padding-left: 6px;
                border: 2px solid;
            }
    
            input.nombre{
                grid-area: nombre;
                
            }
    
            input.email{
                grid-area: email;
            }
    
            input.asunto{
                grid-area: asunto;
            }
    
    
            textarea{
                grid-area: mensaje;
                min-height: 150px;
                padding-left: 6px;
                border: 2px solid;
            }
    
            input:focus, textarea:focus{
                border: 2px solid $colorVioleta;   
                outline: none;
                border-radius: 2px;
            }
        }
    
        a.botonEnviar{
            grid-area: boton;
            width: 35%;
            text-align: center;
            //display: inline-block;
            color: $colorBlanco;
            font-weight: bold;
            font-size: 25px;
            background-color: $colorVioleta;
            box-shadow: 3px 3px 5px 1px $colorNegro;
            text-decoration: none;
            padding: 0.8rem 2rem;
            border-radius: 100px;
            margin: 24px auto;
        }
    }

}


//⁡⁢⁢⁡⁢⁢⁡⁢⁢⁣BREAKPOINTS IPAD⁡

@media only screen and (min-width: 768px){

    .navbar{
        padding: 8px calc(3/4)*$margins !important; //por defecto agrega 8 top-bottom padding
        //background-color: pink;
    }
    
    .imgLogo{
        height: 75px;
    }
    
    .call h1{
        font-size: 10vw;
        //padding-bottom: 1rem;
    }
    
    .call h2{
        width: 70vw;
        font-size: 3.5vw;
        padding-bottom: 20px;
    
    }
    
    .call a{
        transform: scale(1);
    }


    nav.navbarSticky{
        display: none !important;
    }
    
    // ⁡⁢⁣⁣START⁡ QUIENES SOMOS
    
    .logoGif{
    //  background-color: blue;
        width: auto;
        height: auto;
        display: block;
    }
    
    
    .quienesSomos p{
        //background-color: red;
        font-size: 2vw;
        line-height: 2vw;
    }

    .copyright{
        font-size: 1.5rem;
    
    }
    .copyright a{
        font-size: 2rem;
    }


    // ⁡⁢⁣⁣START ⁡⁢⁣⁣RESEÑAS⁡

    div.resenas{
        padding: 30px;

        .cardResenas{
            transform: scale(0.8);
        }
    
        .cardResenas--l{
            width: 816px;
            min-width: 816px;
            display: inline-block;
    
        }
    }
}

//⁡⁢⁢⁡⁢⁢⁡⁢⁢⁣BREAKPOINTS DESKTOP⁡

@media only screen and (min-width: 1200px){
.p-xl{
    padding: 6rem;
}


.navbar{
    margin: 0 6rem !important;
    padding: 1.5rem 0 !important; //por defecto agrega 8 top-bottom padding, no afecta borde derecho

    div{
        

        div div ul{


            li{
                text-align: center;
                font-size: 1.8vw;
                font-weight: 700;
            }
        }
    }
}

.imgLogo{
    height: 60px;
}

header.homepage{
    background-image: url(./img/Auto\ amariilo.png);
    background-repeat: no-repeat;
    background-size: 170% auto;
    background-position: right 80% bottom 55%;
}



.call{
    width: 45%;
    height: auto;
    padding: 0.5rem 0;
    margin-left: 6rem;
    align-items: start;
    // background-color: red;
}



.call h1{
    font-size: 5.5vw;
    font-weight: 700;
    padding-bottom: 1rem;
}


.call h2{
    width: 30vw;
    font-size: 2vw;
    text-align: left;

}

// .call a{
//     transform: scale(1);
// }
//innecesario, ya está en query tablet

header i{
    transform: scale(2);
    }  


.quienesSomos p{
    //background-color: red;
    max-width: 90%;

}


div.resenas{
    height: 100vh;
    padding: 6rem;

    .cardResenas{
        transform: scale(1);
        margin-right: 3rem;
    
    }

    .cardResenas:last-child{
        margin: 0;
    }

    .cardResenas--l{
        display: block;
    }
}

}


