@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

/* font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif; */


$colorAmarillo: rgb(255, 208, 0);
$colorNegro: black;
$colorVioleta: blueviolet;
$colorVioletaHover: rgb(70, 22, 116);
$colorBlanco: white;

$margins: 2rem;

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

//Modificaciones Bootstrap
.btn-close{
    opacity: 100%;
}
.text-bg-dark{
    background-color: $colorAmarillo !important;
}
.offcanvas-body{
    font-size: 1.5rem;
    font-weight: 900;
    //width: fill;

    li{
        padding-right: 2%;
    }

    a{
        color: $colorNegro !important;
    }

    a:hover{
        color:$colorVioleta !important;
    }
}


// //FULL SCREEN
// header.homepage{
//     height: 100vh;
//     width: 100%;
//     background-image: url(Img/Auto\ amariilo.png);
//     background-size: 170% auto;
//     background-position: right 80% bottom 50%;
//     background-repeat: no-repeat;
//     background-color: gray;
//     //overflow: hidden;
// }

// .imgLogo{
//     height: 50px;
//     width: auto;
//     padding-left: $margins;
    
// }

// .call{
//     width: 45%;
//     height: auto;
//     margin-left: 64px;
//     border: none;
//     display: flex;
//     flex-direction: column;
//     align-items: flex-start;
// }

// .call h1{
//     font-size: 80px;
//     font-weight: bolder;
//     padding-bottom: 16px;
// }

// .call p{
//     width: 50%;
//     font-size: 30px;
//     font-weight: bold;
//     padding-bottom: 24px;

// }

// .call a{
//     color: white;
//     font-weight: bold;
//     font-size: 25px;
//     background-color: blueviolet;
//     box-shadow: 3px 3px 5px 1px black;
//     text-decoration: none;
//     padding:16px 24px;
//     border-radius: 100px;
// }

// .call a:hover{
//     background-color: rgb(70, 22, 116);
// }⁡


// ⁡⁢⁣⁣START⁡ HERO SECTION
    header.homepage{
        height: 100svh;
        width: 100%;
        background-image: url(./img/Auto\ amariilo.png);
        background-repeat: no-repeat;
        background-size: 700%;
        background-position: right 58% bottom 50%;
        position:relative
    }

    .imgLogo{
        height: 30px;
        width: auto;
        
    }

    .call{
        width: 100%;
        height: auto;
        padding: 2rem;
        border: none;
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
       // background-color: red;
    }
    
    .call h1{
        font-size: 11vw;
        font-weight: 900;
        //padding-bottom: 1rem;
    }
    
    .call p{
        width: 70vw;
        font-size: 4vw;
        text-align: center;
       // padding-left: 2rem;
        //padding-right: 2rem;
        font-weight: 900;
        padding-bottom: 24px;
    
    }
    
    .call a{
        color: $colorBlanco;
        font-weight: bold;
        font-size: 25px;
        background-color: $colorVioleta;
        box-shadow: 3px 3px 5px 1px $colorNegro;
        text-decoration: none;
        padding:1rem 2rem;
        border-radius: 100px;
        transform: scale(0.7);
    }
    
    .call a:hover{
        background-color: $colorVioletaHover;
    }

    .call a:active{
        background-color: $colorAmarillo;
    }

    header i{
        position: absolute;
        left: 50%;
        top: 95%;
        color: white;
        //background-color: white;
        transform: translate(-50%, -50%);
        }   
// ⁡⁢⁣⁣FIN⁡ HERO SECTION

.navbarSticky{
    background-color: $colorBlanco;
    padding: 20px;
    position: sticky;
    top: 0px;
    border-bottom:  2px  solid $colorAmarillo;
}

// ⁡⁢⁣⁣START⁡ QUIENES SOMOS
.imgFachada{
    border-radius: 30px !important;
    //background-color: pink;
}

.logoGif{
  //  background-color: blue;
    width: auto;
    height: auto;
    display: none;
}


.quienesSomos p{
    //background-color: red;
    font-size: 1rem;
    font-weight: bolder;
    text-align: justify;
    line-height: 1rem;
}
//28px para full screen
// ⁡⁢⁣⁣FIN⁡ QUIENES SOMOS




//MEDIDAS FULL SCREEN
// .footer{
//     height: 300px;
//     width: 100%;
//     background-color: rgb(49, 49, 49);
//     display: flex;
//     flex-direction: row;
//     justify-content: space-between;
//     padding: 32px 64px;
//     align-items: flex-end;
//     font-size: 28px;
//     color: white;

// }
// .footer a{
//     color: white;
//     text-decoration: none;
//     letter-spacing: 15px;
// }

// .footer p{
//     display: inline-block;
//     /* background-color: blueviolet; */
// }






#repuestos{
    background-color: rgb(48, 48, 48);
    color: white;
    padding: 150px;
}
#compraOnline{
    background-color: rgb(0, 47, 255);
    padding: 150px;
}
#contactanos{
    background-color: rgb(14, 14, 14);
    color: white;
    padding: 150px;
}


//​‌‌‌⁡⁣⁣⁢RESEÑAS⁡​


div.resenas{
    height: auto;
    background-color: $colorAmarillo;
    //width: 100%;
    padding-top: 20px;
    

    .cardResenas{
        transform: scale(0.7);
        display: inline-block;
        height: 347px;
        background-color: white;
        //width: 384px;
        text-align: center;
        display: flex;
        flex-direction: column;
        //justify-content: center;
        align-items: center;
        border-radius: 2rem;
        padding: 0 2.3rem 0;
        box-shadow: 4px 4px 10px 0px transparentize($color: $colorVioleta, $amount: 0.5);

        .posicion{
            position: relative;
            top: 2.3rem;
            

            div.estrellas{
               // background-color: pink;
                color: $colorAmarillo;
                font-size: 1.8rem;
                word-spacing: 0.5rem;
                margin-bottom: 1rem;
            }
    
            div.texto{
                //width: 300px;
                //background-color: pink;
                font-size: 1.5rem;
                font-weight: bold;
                text-align: justify;
                line-height: 1.5rem;
            }
        }


    
    }

    .cardResenas--s{
        width: 384px;

    }

    .cardResenas--l{
        width: 816px;
        display: none;

    }

}




.footer{
    //height 30vh para footer con altura
    height: 10vh;
    //width: 100%;
    background-color: rgb(49, 49, 49);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 1rem;
    color: $colorBlanco;

}
.footer a{
    color: $colorBlanco;
    text-decoration: none;
    letter-spacing: 15px;
    font-size: 1.5rem;
   // background-color: red;
}
