@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
/* font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif; */
#contactanos {
  background-color: rgb(14, 14, 14);
  color: white;
  padding: 150px;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
}

.btn-close {
  opacity: 100%;
}

.text-bg-dark {
  background-color: #FFCE00 !important;
}

.offcanvas-body {
  font-size: 1.5rem;
  font-weight: 900;
}
.offcanvas-body li {
  padding-right: 2%;
}
.offcanvas-body li:last-child {
  padding-right: 0px;
}
.offcanvas-body a {
  color: #373737 !important;
}
.offcanvas-body a:hover {
  color: #9747FF !important;
}

.navbar {
  padding: 8px 1rem !important;
  margin: 0 !important;
  display: flex !important;
  justify-content: space-evenly !important;
}
.navbar div {
  padding: 0 !important;
  margin: 0 !important;
}
.navbar div div div ul {
  padding: 0 !important;
}
.navbar div div div ul li {
  text-align: center;
}

header.homepage {
  height: 100svh;
  width: 100%;
  background-image: url(./img/Auto\ amariilo.png);
  background-repeat: no-repeat;
  background-size: 700%;
  background-position: right 58% bottom 50%;
  position: relative;
}

.imgLogo {
  height: 30px;
  width: auto;
}

.call {
  width: 100%;
  height: auto;
  padding: 2rem;
  border: none;
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.call h1 {
  font-size: 11vw;
  font-weight: 700;
}

.call h2 {
  width: 70vw;
  font-size: 4vw;
  text-align: center;
  font-weight: 700;
  padding-bottom: 24px;
}

.call a {
  color: white;
  font-weight: bold;
  font-size: 25px;
  background-color: #9747FF;
  box-shadow: 3px 3px 5px 1px #373737;
  text-decoration: none;
  padding: 0.8rem 2rem;
  border-radius: 100px;
  transform: scale(0.7);
}

.call a:hover {
  background-color: #532095;
}

.call a:active {
  background-color: #FFCE00;
}

header i {
  position: absolute;
  left: 50%;
  top: 95%;
  color: white;
  transform: translate(-50%, -50%);
}

.navbarSticky {
  background-color: white;
  padding: 20px;
  position: sticky;
  top: 0px;
  border-bottom: 2px solid #FFCE00;
}

.imgFachada {
  border-radius: 4vw !important;
  width: 100%;
}

.logoGif {
  width: auto;
  height: auto;
  display: none;
}

.quienesSomos p {
  max-width: 500px;
  font-size: 4vw;
  font-weight: bolder;
  text-align: justify;
  line-height: 4vw;
}

.footer {
  height: auto;
  background-color: rgb(49, 49, 49);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-end;
}

.copyright {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 1rem;
  color: white;
}

.copyright a {
  color: white;
  text-decoration: none;
  letter-spacing: 15px;
  font-size: 1.5rem;
}

div.resenas {
  height: auto;
  background-color: #FFCE00;
  padding-top: 20px;
}
div.resenas .cardResenas {
  transform: scale(0.7);
  display: inline-block;
  height: 347px;
  background-color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 2rem;
  padding: 0 2.3rem 0;
  box-shadow: 4px 4px 10px 0px rgba(151, 71, 255, 0.5);
}
div.resenas .cardResenas .posicion {
  position: relative;
  top: 2.3rem;
}
div.resenas .cardResenas .posicion div.estrellas {
  color: #FFCE00;
  font-size: 1.8rem;
  word-spacing: 0.5rem;
  margin-bottom: 1rem;
}
div.resenas .cardResenas .posicion div.texto {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: justify;
  line-height: 1.5rem;
}
div.resenas .cardResenas--s {
  width: 384px;
  min-width: 384px;
}
div.resenas .cardResenas--l {
  width: 816px;
  min-width: 816px;
  display: none;
}

.espacio {
  height: 125px;
  width: 100%;
  background-image: url(./img/Todo\ motor\ single\ pattern.svg);
  background-repeat: repeat;
  background-size: 6.25vw;
}

.esp1 {
  background-color: #FFCE00;
}

.esp2 {
  background-color: white;
}

.repuestos {
  height: auto;
  width: 100%;
  background-image: url(./img/Todo\ motor\ single\ pattern.svg), linear-gradient(#373737, #3D3D3D);
  background-size: 6.25vw;
}
.repuestos li {
  color: white;
  font-size: 30px;
  font-weight: bolder;
  text-align: center;
  padding: 12px 0;
}

div.entreOtros {
  height: auto;
  width: 100%;
  background-color: #373737;
  color: white;
  text-align: center;
  font-weight: bolder;
}
div.entreOtros .titulo {
  font-size: 30px;
  text-transform: uppercase;
  padding-top: 24px;
}
div.entreOtros .escribinos {
  font-size: 15px;
}
div.entreOtros a {
  margin: 0 auto;
  width: auto;
  color: white;
  font-weight: bold;
  font-size: 25px;
  background-color: #9747FF;
  box-shadow: 3px 3px 5px 1px #373737;
  text-decoration: none;
  padding: 0.8rem 2rem !important;
  border-radius: 100px;
  transform: scale(0.7);
  margin-bottom: 24px;
}

.compraOnline {
  height: 100vh;
  width: 100%;
  background-color: #FFCE00;
  margin: 2rem 0 2rem;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}
.compraOnline a {
  color: white;
  font-size: 38px;
  text-decoration: none;
  text-shadow: 2px 2px 4px rgba(151, 71, 255, 0.5);
}
.compraOnline a:hover {
  text-shadow: -1px -1px 0 #373737, 1px -1px 0 #373737, -1px 1px 0 #373737, 1px 1px 0 #373737, 2px 2px 4px rgba(151, 71, 255, 0.5);
}
.compraOnline a:active {
  color: #532095;
}
.compraOnline p {
  display: inline-block;
}
.compraOnline img {
  scale: 0.3;
  margin-top: -50px;
}

footer {
  height: auto;
  background-color: #3D3D3D;
  padding: 0 6rem 0;
  margin-top: 20%;
  background-image: url(./img/Todo\ motor\ single\ pattern.svg);
  background-size: 6.25vw;
}

.contactanos2 {
  margin: 0;
  font-weight: bold;
  height: auto;
  position: relative;
  top: -375px;
}
.contactanos2 h1 {
  font-size: 4vw;
  font-weight: 700;
}
.contactanos2 .mapaContacto {
  display: grid;
  grid-template-columns: 7fr 5fr;
  grid-template-rows: 200px auto auto;
  grid-template-areas: "mapa grillaInfo" "mapa formulario" ".    boton";
  margin-bottom: -275px;
}
.contactanos2 .mapaContacto .mapa {
  grid-area: mapa;
  height: 100%;
  padding: 0;
}
.contactanos2 .mapaContacto .mapa iframe {
  height: -webkit-fill-available;
  height: -moz-available;
  height: stretch;
  width: -webkit-fill-available;
  width: -moz-available;
  width: stretch;
  margin-right: 2rem;
  border-radius: 1vw;
}
.contactanos2 .mapaContacto .grillaInfo {
  grid-area: grillaInfo;
  height: 200px;
  display: grid;
  grid-template-columns: 24px auto;
  grid-template-rows: repeat(4, 40px);
  gap: 10px;
  font-size: 28px;
}
.contactanos2 .mapaContacto .grillaInfo i {
  font-size: 30px;
  width: 24px;
  text-align: left;
  line-height: 40px;
  font-weight: 900;
}
.contactanos2 .mapaContacto .grillaInfo .fa-envelope {
  font-size: 24px;
}
.contactanos2 .mapaContacto .grillaInfo a {
  color: #9747FF;
  text-decoration: none;
}
.contactanos2 .mapaContacto .formulario {
  grid-area: formulario;
  min-height: calc(100% - 200px);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 45px 45px auto;
  grid-template-areas: "nombre email" "asunto asunto" "mensaje mensaje";
  gap: 6px 6px;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
}
.contactanos2 .mapaContacto .formulario input {
  padding-left: 6px;
  border: 2px solid;
}
.contactanos2 .mapaContacto .formulario input.nombre {
  grid-area: nombre;
}
.contactanos2 .mapaContacto .formulario input.email {
  grid-area: email;
}
.contactanos2 .mapaContacto .formulario input.asunto {
  grid-area: asunto;
}
.contactanos2 .mapaContacto .formulario textarea {
  grid-area: mensaje;
  min-height: 150px;
  padding-left: 6px;
  border: 2px solid;
}
.contactanos2 .mapaContacto .formulario input:focus, .contactanos2 .mapaContacto .formulario textarea:focus {
  border: 2px solid #9747FF;
  outline: none;
  border-radius: 2px;
}
.contactanos2 .mapaContacto a.botonEnviar {
  grid-area: boton;
  width: 35%;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 25px;
  background-color: #9747FF;
  box-shadow: 3px 3px 5px 1px #373737;
  text-decoration: none;
  padding: 0.8rem 2rem;
  border-radius: 100px;
  margin: 24px auto;
}

@media only screen and (min-width: 768px) {
  .navbar {
    padding: 8px 1.5rem !important;
  }
  .imgLogo {
    height: 75px;
  }
  .call h1 {
    font-size: 10vw;
  }
  .call h2 {
    width: 70vw;
    font-size: 3.5vw;
    padding-bottom: 20px;
  }
  .call a {
    transform: scale(1);
  }
  nav.navbarSticky {
    display: none !important;
  }
  .logoGif {
    width: auto;
    height: auto;
    display: block;
  }
  .quienesSomos p {
    font-size: 2vw;
    line-height: 2vw;
  }
  .copyright {
    font-size: 1.5rem;
  }
  .copyright a {
    font-size: 2rem;
  }
  div.resenas {
    padding: 30px;
  }
  div.resenas .cardResenas {
    transform: scale(0.8);
  }
  div.resenas .cardResenas--l {
    width: 816px;
    min-width: 816px;
    display: inline-block;
  }
}
@media only screen and (min-width: 1200px) {
  .p-xl {
    padding: 6rem;
  }
  .navbar {
    margin: 0 6rem !important;
    padding: 1.5rem 0 !important;
  }
  .navbar div div div ul li {
    text-align: center;
    font-size: 1.8vw;
    font-weight: 700;
  }
  .imgLogo {
    height: 60px;
  }
  header.homepage {
    background-image: url(./img/Auto\ amariilo.png);
    background-repeat: no-repeat;
    background-size: 170% auto;
    background-position: right 80% bottom 55%;
  }
  .call {
    width: 45%;
    height: auto;
    padding: 0.5rem 0;
    margin-left: 6rem;
    align-items: start;
  }
  .call h1 {
    font-size: 5.5vw;
    font-weight: 700;
    padding-bottom: 1rem;
  }
  .call h2 {
    width: 30vw;
    font-size: 2vw;
    text-align: left;
  }
  header i {
    transform: scale(2);
  }
  .quienesSomos p {
    max-width: 90%;
  }
  div.resenas {
    height: 100vh;
    padding: 6rem;
  }
  div.resenas .cardResenas {
    transform: scale(1);
    margin-right: 3rem;
  }
  div.resenas .cardResenas:last-child {
    margin: 0;
  }
  div.resenas .cardResenas--l {
    display: block;
  }
}/*# sourceMappingURL=estilos.css.map */