@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
/* font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif; */
html {
  font-size: 16px;
  scroll-behavior: smooth;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
}

.btn-close {
  opacity: 100%;
}

.text-bg-dark {
  background-color: #FFCE00 !important;
}

.navbar-toggler {
  border: transparent;
  padding: 0;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-toggler-icon {
  background-image: none;
  display: inline-block;
  height: auto;
}
.navbar-toggler-icon i {
  color: #373737;
  font-size: 20px;
}

.offcanvas {
  width: clamp(250px, 39vw, 399px) !important;
}

.offcanvas-body {
  font-size: clamp(1.3rem, 3.7vw, 1.5rem);
  font-weight: 900;
}
.offcanvas-body li {
  padding-right: 2%;
}
.offcanvas-body li:last-child {
  padding-right: 0px;
}
.offcanvas-body a {
  color: #373737 !important;
}
.offcanvas-body a:hover {
  color: #9747FF !important;
}

.container-fluid, .row {
  margin: 0 !important;
  padding: 0 !important;
}
.container-fluid div, .row div {
  padding: 0;
}

.pX {
  padding: 0 2rem !important;
}

.pTop {
  padding-top: 2rem !important;
}

.pBot {
  padding-bottom: 2rem !important;
}

.mBot {
  margin-bottom: 2rem !important;
}

.boton {
  display: inline-block;
  text-align: center;
  min-width: 38.79vw;
  color: white;
  font-weight: bold;
  font-size: 4vw;
  line-height: 4vw;
  background-color: #9747FF;
  box-shadow: 3px 3px 5px 1px #373737;
  text-decoration: none;
  padding: 1rem 2rem;
  border-radius: 100px;
}

.boton:hover {
  background-color: #532095;
  color: white;
}

.boton:active {
  background-color: #FFCE00;
}

.navbar div {
  padding: 10px;
}
.navbar div div div ul li {
  text-align: right;
}

header.homepage {
  height: 100svh;
  width: 100%;
  background-image: url(./img/Auto\ amariilo.webp);
  background-repeat: no-repeat;
  background-size: 700%;
  background-position: right 58% bottom 50%;
  position: relative;
}

.imgLogo {
  height: 30px;
  width: auto;
}

.call {
  width: 100%;
  height: auto;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.call h1 {
  font-size: 11vw;
  font-weight: 700;
}

.call h2 {
  width: 70vw;
  font-size: 4vw;
  text-align: center;
  font-weight: 700;
  padding-bottom: 24px;
}

header i.flechaAbajo {
  position: absolute;
  left: 50%;
  top: 95%;
  color: white;
  transform: translate(-50%, -50%);
}

.navbarSticky {
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  position: sticky;
  top: 0px;
  border-bottom: 2px solid #FFCE00;
  z-index: 2;
}

.quienesSomos {
  height: auto;
}

.imgFachada {
  border-radius: 4vw !important;
  width: 100%;
}

.logoGif {
  width: auto;
  height: auto;
  display: none;
}

.quienesSomos p {
  max-width: 500px;
  font-size: 4vw;
  font-weight: bolder;
  text-align: justify;
  line-height: 4vw;
  margin-bottom: 0;
}

div.resenas {
  height: auto;
  background-color: #FFCE00;
  padding-left: 0 !important;
}
div.resenas .deslizar2 {
  display: none !important;
}
div.resenas .cardResenas {
  transform: scale(0.7);
  display: inline-block;
  height: 347px;
  background-color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 2rem;
  padding: 0 2.3rem 0;
  box-shadow: 4px 4px 10px 0px rgba(151, 71, 255, 0.5);
}
div.resenas .cardResenas .posicion {
  position: relative;
  top: 2.3rem;
}
div.resenas .cardResenas .posicion div.estrellas {
  color: #FFCE00;
  font-size: 1.8rem;
  word-spacing: 0.5rem;
  margin-bottom: 1rem;
}
div.resenas .cardResenas .posicion div.texto {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: justify;
  line-height: 1.5rem;
}
div.resenas .cardResenas--s {
  width: 384px;
  min-width: 384px;
}
div.resenas .cardResenas--l {
  width: 816px;
  min-width: 816px;
  display: none;
}

.deslizar {
  display: inline-block;
  animation-name: deslizar;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-direction: normal;
}

@keyframes deslizar {
  0% {
    transform: translateX(0);
  }
  33% {
    transform: translateX(-100px);
  }
  67% {
    transform: translateX(25px);
  }
  100% {
    transform: translateX(0);
  }
}
.repuestos, .espacio {
  background-size: 80px;
  width: 100%;
  background-position: center;
}

.espacio {
  height: 80px;
  background-image: url(./img/Todo\ motor\ single\ pattern.svg);
  background-repeat: repeat;
}

.esp1 {
  background-color: #FFCE00;
}

.esp2 {
  background-color: white;
}

.repuestos {
  height: auto;
  background-image: url(./img/Todo\ motor\ single\ pattern.svg), linear-gradient(#373737, #3D3D3D);
}
.repuestos ul {
  padding: 0 !important;
}
.repuestos ul li {
  color: white;
  width: auto;
  font-size: 30px;
  font-weight: bolder;
  text-align: center;
  padding: 12px 0;
}

div.entreOtros {
  height: auto;
  width: 100%;
  background-color: #373737;
  color: white;
  text-align: center;
  font-weight: bolder;
}
div.entreOtros .row {
  gap: 10px;
}
div.entreOtros .row .titulo {
  font-size: 30px;
  text-transform: uppercase;
}
div.entreOtros .row .escribinos {
  font-size: 15px;
}
div.entreOtros .row div {
  margin: auto 0 !important;
}
div.entreOtros .row div .boton {
  display: inline-block;
  box-shadow: 3px 3px 5px 1px #1e1e1e;
}

.compraOnline {
  height: auto;
  padding: 6rem 0;
  width: 100%;
  background-color: #FFCE00;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}
.compraOnline .hidden {
  display: none;
}
.compraOnline a {
  color: white;
  font-size: 38px;
  text-decoration: none;
  text-shadow: 2px 2px 4px rgba(151, 71, 255, 0.5);
}
.compraOnline a:hover {
  text-shadow: -1px -1px 0 #373737, 1px -1px 0 #373737, -1px 1px 0 #373737, 1px 1px 0 #373737, 2px 2px 4px rgba(151, 71, 255, 0.5);
}
.compraOnline a:active {
  color: #532095;
}
.compraOnline div.tocame {
  display: inline-block;
}
.compraOnline div.logo {
  display: inline-block;
}
.compraOnline div.logo img {
  height: 38px;
  width: 100px;
}

footer {
  height: auto;
  background-color: #3D3D3D;
  padding: 0 1rem;
  margin-top: 300px;
  background-image: url(./img/Todo\ motor\ single\ pattern.svg);
  background-size: 80px;
}

.contactanos2 {
  margin: 0;
  font-weight: bold;
  height: auto;
  position: relative;
  top: -300px;
}
.contactanos2 h1 {
  font-size: 8vw;
  font-weight: 700;
}
.contactanos2 .mapaContacto {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto;
  grid-template-areas: "grillaInfo" "mapa" "formulario" "boton";
  margin-bottom: -250px;
}
.contactanos2 .mapaContacto .grillaInfo {
  grid-area: grillaInfo;
  display: grid;
  grid-template-columns: 20px auto;
  grid-template-rows: repeat(4, 30px);
  gap: 10px;
  font-size: clamp(16px, 4.85vw, 20px);
  padding-bottom: 20px;
}
.contactanos2 .mapaContacto .grillaInfo i {
  margin: auto 0;
  width: 20px;
  text-align: left;
  font-weight: 900;
}
.contactanos2 .mapaContacto .grillaInfo p, .contactanos2 .mapaContacto .grillaInfo a {
  margin: auto 0;
}
.contactanos2 .mapaContacto .grillaInfo .fa-envelope {
  font-size: 16px;
}
.contactanos2 .mapaContacto .grillaInfo a {
  color: #9747FF;
}
.contactanos2 .mapaContacto .grillaInfo a .exclude {
  display: inline-block;
  color: initial;
}
.contactanos2 .mapaContacto .grillaInfo a:hover {
  color: #532095;
}
.contactanos2 .mapaContacto .mapa {
  min-width: 20px;
  grid-area: mapa;
  height: 250px;
  padding: 0;
  width: auto;
  padding-bottom: 20px;
}
.contactanos2 .mapaContacto .mapa iframe {
  height: -webkit-fill-available;
  height: -moz-available;
  height: stretch;
  width: -webkit-fill-available;
  width: -moz-available;
  width: stretch;
  border-radius: 1vw;
}
.contactanos2 .mapaContacto .formulario {
  grid-area: formulario;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 35px 35px 35px auto;
  grid-template-areas: "nombre" "email" "asunto" "mensaje";
  gap: 10px;
  font-family: "Roboto", sans-serif;
}
.contactanos2 .mapaContacto .formulario input {
  padding-left: 6px;
  border: 2px solid #3D3D3D;
  border-radius: 4px;
  font-size: initial;
  min-width: 20px !important;
}
.contactanos2 .mapaContacto .formulario input.nombre {
  grid-area: nombre;
}
.contactanos2 .mapaContacto .formulario input.email {
  grid-area: email;
}
.contactanos2 .mapaContacto .formulario input.asunto {
  grid-area: asunto;
}
.contactanos2 .mapaContacto .formulario textarea {
  grid-area: mensaje;
  min-height: 150px;
  padding-left: 6px;
  border: 2px solid #3D3D3D;
  border-radius: 4px;
  font-size: initial;
}
.contactanos2 .mapaContacto .formulario input:focus, .contactanos2 .mapaContacto .formulario textarea:focus {
  border: 2px solid #9747FF;
  outline: none;
  border-radius: 4px;
}
.contactanos2 .mapaContacto a.boton {
  grid-area: boton;
  box-shadow: 3px 3px 5px 1px #1e1e1e;
  margin: 24px auto;
}

.copyright {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 1rem;
  color: white;
}

.copyright a {
  color: white;
  text-decoration: none;
  letter-spacing: 15px;
  font-size: 1.5rem;
}

@media only screen and (min-width: 768px) {
  .pX {
    padding: 0 4rem !important;
  }
  .pTop {
    padding-top: 4rem !important;
  }
  .pBot {
    padding-bottom: 4rem !important;
  }
  .mBot {
    margin-bottom: 4rem !important;
  }
  .boton {
    display: inline-block;
    text-align: center;
    min-width: 17.93vw;
    color: white;
    font-weight: bold;
    font-size: 2.5vw;
    line-height: 2.5vw;
    background-color: #9747FF;
    box-shadow: 3px 3px 5px 1px #373737;
    text-decoration: none;
    padding: 1rem 2rem;
    border-radius: 100px;
  }
  .boton:hover {
    background-color: #532095;
    color: white;
  }
  .boton:active {
    background-color: #FFCE00;
  }
  .navbar-toggler-icon i {
    font-size: 24px;
  }
  .navbar {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
  }
  .imgLogo {
    height: 40px;
  }
  .call h1 {
    font-size: 10vw;
  }
  .call h2 {
    width: 70vw;
    font-size: 3.5vw;
    padding-bottom: 20px;
  }
  .logoGif {
    width: 52vw;
    height: auto;
    display: inline-block;
  }
  .quienesSomos div {
    padding: 0 !important;
  }
  .quienesSomos p {
    font-size: 2vw;
    line-height: 2vw;
  }
  .copyright {
    font-size: 1.5rem;
  }
  .copyright a {
    font-size: 2rem;
  }
  div.resenas {
    padding-left: 4rem !important;
  }
  div.resenas .cardResenas {
    transform: scale(1);
    margin-right: 4rem;
  }
  div.resenas .cardResenas--l {
    display: inline-block;
  }
  .repuestos, .espacio {
    background-size: 100px;
  }
  .compraOnline {
    font-size: 24px;
  }
  .compraOnline .hidden {
    display: inline-block;
  }
  .compraOnline a {
    font-size: 64px;
  }
  .compraOnline div.logo {
    display: inline-block;
  }
  .compraOnline div.logo img {
    height: 64px;
    margin: auto !important;
  }
  footer {
    margin-top: 375px;
    background-size: 100px;
  }
  .contactanos2 {
    top: -375px;
  }
  .contactanos2 h1 {
    font-size: 6vw;
  }
  .contactanos2 .mapaContacto {
    grid-template-columns: 7fr 5fr;
    grid-template-rows: 16vw auto auto;
    grid-template-areas: "mapa grillaInfo" "mapa formulario" ".    boton";
    margin-bottom: -275px;
  }
  .contactanos2 .mapaContacto .mapa {
    height: 100%;
    padding-bottom: 0px;
  }
  .contactanos2 .mapaContacto .mapa iframe {
    margin-right: 2rem;
  }
  .contactanos2 .mapaContacto .grillaInfo {
    grid-template-columns: 2vw auto;
    grid-template-rows: repeat(4, 3vw);
    font-size: clamp(18px, 2vw, 24px);
  }
  .contactanos2 .mapaContacto .grillaInfo i {
    font-size: clamp(20px, 2.5vw, 30px);
    width: 24px;
    line-height: 3vh;
  }
  .contactanos2 .mapaContacto .grillaInfo .fa-envelope {
    font-size: clamp(18px, 2vw, 24px);
  }
  .contactanos2 .mapaContacto .formulario {
    padding-top: 10px;
    min-height: calc(100% - 3vw);
    grid-template-columns: 1fr;
    grid-template-rows: 40px 40px 40px auto;
    grid-template-areas: "nombre" "email" "asunto" "mensaje mensaje";
    gap: 6px 6px;
  }
}
@media only screen and (max-height: 1100px) and (min-width: 600px) {
  header.homepage {
    background-size: 400%;
    background-position: right 58% bottom 60%;
  }
}
@media only screen and (min-width: 1200px) {
  .pX {
    padding: 0 6rem !important;
  }
  .pTop {
    padding-top: 6rem !important;
  }
  .pBot {
    padding-bottom: 6rem !important;
  }
  .mBot {
    margin-bottom: 6rem !important;
  }
  .boton {
    display: inline-block;
    text-align: center;
    min-width: 11.85vw;
    color: white;
    font-weight: bold;
    font-size: 1.3vw;
    line-height: 1.3vw;
    background-color: #9747FF;
    box-shadow: 3px 3px 5px 1px #373737;
    text-decoration: none;
    padding: 1rem 2rem;
    border-radius: 100px;
  }
  .boton:hover {
    background-color: #532095;
    color: white;
  }
  .boton:active {
    background-color: #FFCE00;
  }
  .navbar {
    display: flex !important;
    justify-content: space-evenly !important;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .navbar div {
    padding: 0 !important;
    margin: 0 !important;
  }
  .navbar div div div ul {
    padding: 0 !important;
  }
  .navbar div div div ul li {
    text-align: center;
  }
  .navbar {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
  }
  .navbar div div div ul li {
    text-align: center;
    font-size: 1.8vw;
    font-weight: 700;
  }
  .imgLogo {
    height: 3vw;
  }
  header.homepage {
    background-size: 170% auto;
    background-position: right 80% bottom 55%;
  }
  .call {
    width: 45%;
    height: auto;
    padding: 0.5rem 0;
    margin-left: 6rem;
    align-items: start;
  }
  .call h1 {
    font-size: 5.5vw;
    font-weight: 700;
    padding-bottom: 1rem;
  }
  .call h2 {
    width: 30vw;
    font-size: 2vw;
    text-align: left;
  }
  header i {
    transform: scale(2);
  }
  nav.navbarSticky {
    display: none !important;
  }
  .quienesSomos {
    padding: 6rem !important;
  }
  .quienesSomos p {
    max-width: 90%;
  }
  .logoGif {
    width: 30vw;
  }
  div.resenas {
    padding: 6rem;
    flex-wrap: nowrap;
    overflow: hidden !important;
  }
  div.resenas .deslizar {
    animation-name: infinito;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 30s;
    animation-delay: 0s;
  }
  div.resenas .deslizar2 {
    display: inline-flex !important;
  }
  @keyframes deslizar {}
  @keyframes infinito {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  .repuestos, .espacio {
    background-size: 120px;
  }
  .espacio {
    height: 120px;
  }
  .repuestos ul li {
    font-size: 60px;
    text-decoration: none;
    text-align: start;
    line-height: 70px;
  }
  .repuestos .desfase {
    margin-left: 100px;
  }
  .entreOtros {
    padding: 40px 0 !important;
  }
  .entreOtros .row {
    padding: 0 !important;
    margin: 0 6rem !important;
    flex-direction: row !important;
    justify-content: center !important;
    gap: 80px !important;
  }
  .entreOtros .row div {
    padding: 0 !important;
    margin: 0 !important;
    width: auto !important;
    display: inline-block !important;
  }
  .entreOtros .row div.titulo {
    font-size: 60px !important;
    text-align: end;
  }
  .entreOtros .row div.escribinos {
    font-size: 28px !important;
    text-align: start;
    width: 300px !important;
  }
  .entreOtros .row div.boton {
    margin: auto 0 !important;
    padding: 0 !important;
    text-align: start;
  }
  .entreOtros .row div.boton a {
    margin: auto !important;
    margin-right: 0;
    transform: scale(1) !important;
  }
  footer {
    background-size: 120px;
  }
  .contactanos2 h1 {
    font-size: 4vw;
  }
  .contactanos2 .mapaContacto {
    grid-template-rows: 200px auto auto;
  }
  .contactanos2 .mapaContacto .grillaInfo {
    grid-template-rows: repeat(4, 40px);
    font-size: clamp(26px, 1.5vw, 28px);
  }
  .contactanos2 .mapaContacto .formulario {
    padding-top: 0px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 45px 45px auto;
    grid-template-areas: "nombre email" "asunto asunto" "mensaje mensaje";
  }
}/*# sourceMappingURL=estilos.css.map */