@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

/* font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif; */


$colorNegro: #373737;
$colorGris: #3D3D3D;
$colorVioleta: #9747FF;
$colorVioletaHover: #532095;
$colorAmarillo: #FFCE00;
$colorBlanco: white;
$roboto: 'Roboto', sans-serif;
$robotoCondensed: 'Roboto Condensed', sans-serif;

// $marginsCelu:
// $marginsTablet:
$margins: 2rem;



html {
    font-size: 16px;
    scroll-behavior: smooth;
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

//Modificaciones Bootstrap
.btn-close{
    opacity: 100%;
}
.text-bg-dark{
    background-color: $colorAmarillo !important;
}
.offcanvas-body{
    font-size: 1.5rem;
    font-weight: 900;
    //width: fill;

    li{
        padding-right: 2%;
    }

    li:last-child{
        padding-right: 0px;
        //background-color: red;
    }

    a{
        color: $colorNegro !important;
    }

    a:hover{
        color:$colorVioleta !important;
    }
}



//Previamente full estaba aca




// ⁡⁢⁣⁣START⁡ HERO SECTION

.navbar{
    padding: 8px calc(1/2)*$margins !important; //por defecto agrega 8 top-bottom padding, no afecta borde derecho
    margin: 0 !important;
    display: flex !important;
    justify-content: space-evenly !important;
    //background-color: pink;

    div{
        //background-color: blue;
        padding: 0 !important;
        margin: 0 !important;

        div div ul{
            padding: 0 !important;

            li{
                text-align: center;
            }
        }
    }
}

header.homepage{
    height: 100svh;
    width: 100%;
    background-image: url(./img/Auto\ amariilo.png);
    background-repeat: no-repeat;
    background-size: 700%;
    background-position: right 58% bottom 50%;
    position:relative
}

.imgLogo{
    height: 30px;
    width: auto;
    
}

.call{
    width: 100%;
    height: auto;
    padding: 2rem;
    border: none;
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    // background-color: red;
}

.call h1{
    font-size: 11vw;
    font-weight: 700;
    //padding-bottom: 1rem;
}

.call h2{
    width: 70vw;
    font-size: 4vw;
    text-align: center;
    // padding-left: 2rem;
    //padding-right: 2rem;
    font-weight: 700;
    padding-bottom: 24px;

}

.call a{
    color: $colorBlanco;
    font-weight: bold;
    font-size: 25px;
    background-color: $colorVioleta;
    box-shadow: 3px 3px 5px 1px $colorNegro;
    text-decoration: none;
    padding:0.8rem 2rem;
    border-radius: 100px;
    transform: scale(0.7);
}

.call a:hover{
    background-color: $colorVioletaHover;
}

.call a:active{
    background-color: $colorAmarillo;
}

header i{
    position: absolute;
    left: 50%;
    top: 95%;
    color: white;
    //background-color: white;
    transform: translate(-50%, -50%);
    }  
    

// ⁡⁢⁣⁣FIN⁡ HERO SECTION

.navbarSticky{
    background-color: $colorBlanco;
    padding: 20px;
    position: sticky;
    top: 0px;
    border-bottom:  2px  solid $colorAmarillo;
    z-index: 2
}

// ⁡⁢⁣⁣START⁡ QUIENES SOMOS
.imgFachada{
    border-radius: 4vw !important;
    width: 100%;
    //background-color: pink;
}

.logoGif{
  //  background-color: blue;
    width: auto;
    height: auto;
    display: none;
}


.quienesSomos p{
    //background-color: red;
    max-width: 500px;
    font-size: 4vw;
    font-weight: bolder;
    text-align: justify;
    line-height: 4vw;
}
//28px para full screen
// ⁡⁢⁣⁣FIN⁡ QUIENES SOMOS




//​‌‌‌⁡⁣⁣⁢RESEÑAS⁡​


div.resenas{
    height: 100vh;
    background-color: $colorAmarillo;
    padding-top: 20px;

    .deslizar2{
        display: none !important;
        //background-color: red;
    }

    .cardResenas{
        transform: scale(0.7); //CREA MARGENES INVISIBLES PORQUE NO ESCALA EL DIV
        display: inline-block;
        height: 347px;
        background-color: white;
        text-align: center;
        display: flex;
        flex-direction: column;
        //justify-content: center;
        align-items: center;
        border-radius: 2rem;
        padding: 0 2.3rem 0;
        box-shadow: 4px 4px 10px 0px transparentize($color: $colorVioleta, $amount: 0.5);

        .posicion{
            position: relative;
            top: 2.3rem;
            

            div.estrellas{
               // background-color: pink;
                color: $colorAmarillo;
                font-size: 1.8rem;
                word-spacing: 0.5rem;
                margin-bottom: 1rem;
            }
    
            div.texto{
                //width: 300px;
                //background-color: pink;
                font-size: 1.5rem;
                font-weight: bold;
                text-align: justify;
                line-height: 1.5rem;
            }
        }


    
    }

    .cardResenas--s{
        width: 384px;
        min-width: 384px;
        //min-width: calc(384px - (408px - 360px));
    }

    .cardResenas--l{
        width: 816px;
        min-width: 816px;
        display: none;

    }

}

// ANIMACIONES

//mobile tablet

.deslizar{
    display: inline-block;
    animation-name: deslizar;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-direction: normal;
}


@keyframes deslizar{

    0%{
        transform: translateX(0);
    }

    33%{
        transform: translateX(-100px);
    }

    67%{
        transform: translateX(25px);
    }

    100%{
        transform: translateX(0);
    }
    
}


//​‌‌‌⁡⁣⁣​‌‌‌⁡⁣⁣⁢REPUESTOS⁡​​

.repuestos, .espacio{
    background-size: 80px;
    width: 100%;
    background-position: center;
}

.espacio{
    height: 80px;
    //background-color: red;
    background-image: url(./img/Todo\ motor\ single\ pattern.svg);
    background-repeat: repeat;
}

.esp1{
    background-color: $colorAmarillo
}

.esp2{
    background-color: $colorBlanco
}

.repuestos{
    height: auto;
    background-image: url(./img/Todo\ motor\ single\ pattern.svg), linear-gradient($colorNegro,$colorGris);

    ul{
        padding: 0 !important;

        li{
            color: $colorBlanco;
            width: auto;
            font-size: 30px;
            font-weight: bolder;
            text-align: center;
            padding: 12px 0;
        }
    }


}

div.entreOtros{
    height: auto;
    width: 100%;
    background-color: $colorNegro;
    color: $colorBlanco;
    text-align: center;
    font-weight: bolder;

    .row{

        gap: 10px;

        .titulo{
            font-size: 30px;
            text-transform: uppercase;
            padding-top: 24px;
        }
    
        .escribinos{
            font-size: 15px;
        }
    
        div.boton{
            margin-bottom: 24px;
    
            a{
                display: inline-block;
                transform: scale(0.7);
                width: auto;
                color: $colorBlanco;
                font-weight: bold;
                font-size: 25px;
                background-color: $colorVioleta;
                box-shadow: 3px 3px 5px 1px darken($colorNegro, 10%);
                text-decoration: none;
                padding: 0.8rem 2rem !important;
                border-radius: 100px;
            }
    
            
            a:hover{
                background-color: $colorVioletaHover;
            }
    
            a:active{
                background-color: $colorAmarillo;
            }
        }

    }
    


}

//​‌‌‌⁡⁣⁣⁡⁣⁣⁡⁣⁣⁢​‌‌‌COMPRA ONLINE​⁡

.compraOnline{
    height: 100vh;
    width: 100%;
    background-color: $colorAmarillo;
    text-align: center;
    font-weight: bold;
    font-size: 18px;

    .hidden{
        display: none;
    }

    a{
        color: $colorBlanco;
        font-size: 38px;
        text-decoration: none;
        text-shadow: 2px 2px 4px transparentize($color: $colorVioleta, $amount: 0.5);
    }

    a:hover{
        text-shadow:
        -1px -1px 0 $colorNegro,  
        1px -1px 0 $colorNegro,
        -1px  1px 0 $colorNegro,
        1px  1px 0 $colorNegro,
        2px 2px 4px transparentize($color: $colorVioleta, $amount: 0.5);
    }

    a:active{
        color: $colorVioletaHover;
    }

    div.tocame{
        display: inline-block;
    }

    div.logo{
        display: inline-block;
        img{
            height: 38px;
            width: 100px;
        }
    }

}

//​‌‌‌CONTACTANOS ​

footer{
    height: auto;
    background-color: $colorGris;
    padding: 0 calc(1/2)*$margins;
    margin-top: 300px;
    background-image: url(./img/Todo\ motor\ single\ pattern.svg);
    background-size: 80px;
}

.contactanos2{
    //background-color: black;
    
    margin:0;
    font-weight: bold;
    height: auto;
    position: relative;
    top: -300px;

    h1{
        font-size: 8vw;
        font-weight: 700;
    }

    .mapaContacto{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
        grid-template-areas:
            "grillaInfo"
            "mapa"
            "formulario"
            "boton";
        margin-bottom: -250px;
        font-size: 20px;



        .grillaInfo{
            grid-area: grillaInfo;
            //background-color: lavender;
            display: grid;
            grid-template-columns: 20px auto;
            grid-template-rows: repeat(4, 25px);
            gap: 10px;
            padding-bottom: 20px;
    
            i{
                //background-color: cyan;
                
                width: 20px;
                text-align: left;
                line-height: 25px;
                font-weight: 900;
                
            }
    
            .fa-envelope{
                font-size: 16px;
            }
    
            a{
                color: $colorVioleta;

                .exclude{
                    display: inline-block;
                    color: initial;
                }
            }

            a:hover{
                color: $colorVioletaHover;
            }
    
        }

        .mapa{
            grid-area: mapa;
            height: 250px;
            //background-color: pink;
            padding: 0;
            width: auto;
            padding-bottom: 20px;
    
            iframe{
                //background-color: blue;
                height: stretch;
                width: stretch;
                //margin-right: $margins;
                border-radius: 1vw;
            }
            
        }
    

    
    
        .formulario{
            grid-area: formulario;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 35px 35px 35px auto;
            grid-template-areas: 
                "nombre"
                "email"
                "asunto"
                "mensaje";
            gap: 10px;
            font-family: $roboto;
            
            input{
                padding-left: 6px;
                border: 2px solid $colorGris;
                border-radius: 4px;
                font-size: initial;
            }
    
            input.nombre{
                grid-area: nombre;
                
            }
    
            input.email{
                grid-area: email;
            }
    
            input.asunto{
                grid-area: asunto;
            }
    
    
            textarea{
                grid-area: mensaje;
                min-height: 150px;
                padding-left: 6px;
                border: 2px solid $colorGris;
                border-radius: 4px;
                font-size: initial;
            }
    
            input:focus, textarea:focus{
                border: 2px solid $colorVioleta;   
                outline: none;
                border-radius: 4px;
            }
        }
    
        a.botonEnviar{
            grid-area: boton;
            width: 35%;
            text-align: center;
            color: $colorBlanco;
            font-weight: bold;
            background-color: $colorVioleta;
            box-shadow: 3px 3px 5px 1px darken($colorNegro, 10%);
            text-decoration: none;
            padding: 0.8rem 2rem;
            border-radius: 100px;
            margin: 24px auto;
        }

        a.botonEnviar:hover{
            background-color: $colorVioletaHover;
        }

        a.botonEnviar:active{
            background-color: $colorAmarillo;
        }

    }

}

.copyright{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 1rem;
    color: $colorBlanco;

}
.copyright a{
    color: $colorBlanco;
    text-decoration: none;
    letter-spacing: 15px;
    font-size: 1.5rem;
}

//⁡⁢⁢⁡⁢⁢⁡⁢⁢⁣BREAKPOINTS IPAD⁡

@media only screen and (min-width: 768px){

    .navbar{
        padding: 8px calc(3/4)*$margins !important; //por defecto agrega 8 top-bottom padding
        //background-color: pink;
    }
    
    .imgLogo{
        height: 75px;
    }
    
    .call h1{
        font-size: 10vw;
        //padding-bottom: 1rem;
    }
    
    .call h2{
        width: 70vw;
        font-size: 3.5vw;
        padding-bottom: 20px;
    
    }
    
    .call a{
        transform: scale(1);
    }


    nav.navbarSticky{
        display: none !important;
    }
    
    // ⁡⁢⁣⁣START⁡ QUIENES SOMOS
    
    .logoGif{
    //  background-color: blue;
        width: auto;
        height: auto;
        display: block;
    }
    
    
    .quienesSomos p{
        //background-color: red;
        font-size: 2vw;
        line-height: 2vw;
    }

    .copyright{
        font-size: 1.5rem;
    
    }
    .copyright a{
        font-size: 2rem;
    }


    // ⁡⁢⁣⁣START ⁡⁢⁣⁣RESEÑAS⁡

    div.resenas{
        padding: 30px;

        .cardResenas{
            transform: scale(1);
            margin-right: 3rem;
        
        }
    
    
        .cardResenas--l{
            display: block;
        }
    }


    
//​‌‌‌⁡⁣⁣​‌‌‌⁡⁣⁣⁢REPUESTOS⁡​​

    .repuestos, .espacio{
        background-size: 100px;
    }

//​‌‌‌⁡⁣⁣⁢ONLINE⁡​

    .compraOnline{
        font-size: 24px;
    
        .hidden{
            display: inline-block;
        }
    
        a{
            font-size: 64px;
        }
        

        div.logo{
            display: inline-block;
            img{
                height: 64px;
                margin: auto !important;
            }
        }

    }

    
//⁡⁣⁣⁢​‌‌‌CONTACTO​⁡


    footer{
        padding: 8px calc(3/4)*$margins;
        margin-top: 375px;
        background-size: 100px;
    }

    .contactanos2{
        top: -375px;
        
        h1{
            font-size: 6vw;
        }

        .mapaContacto{
            grid-template-columns: 7fr 5fr;
            grid-template-rows: 200px auto auto;
            grid-template-areas:
                "mapa grillaInfo"
                "mapa formulario"
                ".    boton";
            margin-bottom: -275px;
            font-size: 24px;

            .mapa{
                height: 100%;
        
                iframe{
                    margin-right: $margins;
                }
                padding-bottom: 0px;
            }
        
            .grillaInfo{
                grid-template-columns: 40px auto;
                grid-template-rows: repeat(4, 40px);
                padding-bottom: 0px;

                i{
                    font-size: 30px;
                    width: 24px;
                    line-height: 40px;
                    
                }

                .fa-envelope{
                    font-size: 24px;
                }    
            }
        
        
            .formulario{
                min-height: calc(100% - 200px);
                grid-template-columns: 1fr;
                grid-template-rows: 45px 45px 45px auto;
                grid-template-areas: 
                    "nombre"
                    "email"
                    "asunto"
                    "mensaje mensaje";
                gap: 6px 6px;
            }
        }
    }
}

//⁡⁢⁢⁡⁢⁢⁡⁢⁢⁣BREAKPOINTS DESKTOP⁡

@media only screen and (min-width: 1200px){
.p-xl{
    padding: 6rem;
}


.navbar{
    margin: 0 6rem !important;
    padding: 1.5rem 0 !important; //por defecto agrega 8 top-bottom padding, no afecta borde derecho

    div{
        

        div div ul{


            li{
                text-align: center;
                font-size: 1.8vw;
                font-weight: 700;
            }
        }
    }
}

.imgLogo{
    height: 60px;
}

header.homepage{
    background-image: url(./img/Auto\ amariilo.png);
    background-repeat: no-repeat;
    background-size: 170% auto;
    background-position: right 80% bottom 55%;
}



.call{
    width: 45%;
    height: auto;
    padding: 0.5rem 0;
    margin-left: 6rem;
    align-items: start;
    // background-color: red;
}



.call h1{
    font-size: 5.5vw;
    font-weight: 700;
    padding-bottom: 1rem;
}


.call h2{
    width: 30vw;
    font-size: 2vw;
    text-align: left;

}


header i{
    transform: scale(2);
    }  


.quienesSomos p{
    //background-color: red;
    max-width: 90%;

}


div.resenas{
    height: 100vh;
    //padding: 6rem;
    flex-wrap: nowrap;
    overflow: hidden !important;

    .deslizar{
        animation-name: infinito;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-duration: 30s;
        animation-delay: 0s;
        //padding-right: 6rem;
    }
    
    .deslizar2{
        display: inline-flex !important;
        
    }
}

@keyframes deslizar{

    0%{
    }


    100%{
    }
    
}


@keyframes infinito{

    0%{
        transform: translateX(0);
    }


    100%{
        transform: translateX(-100%);
    }
    
    }

//​‌‌‌⁡⁣⁣​‌‌‌⁡⁣⁣⁢REPUESTOS⁡​​

    .repuestos, .espacio{
        background-size: 120px;
    }

    .espacio{
        height: 120px;
    }



    .repuestos{

        ul{    
            li{
                font-size: 60px;
                text-decoration: none;
                text-align: start;
                line-height: 70px;
            }
        }

        .desfase{
            margin-left: 100px;
        }
    }

    .entreOtros{
        padding: 40px 0  !important;

        .row{
            padding: 0 !important;
            margin: 0 6rem !important;
            flex-direction: row !important;
            justify-content: center !important;
            gap: 80px !important;
            
            
            div{
                padding: 0 !important;
                margin: 0 !important;
                width: auto !important;
                display: inline-block !important;
            }
    
            div.titulo{
                font-size: 60px !important;
                text-align: end;

            }
    
            div.escribinos{
                font-size: 28px !important;
                text-align: start;
                width: 300px !important;
            }

            div.boton{
                margin: auto 0 !important;
                padding: 0 !important;
                text-align: start;

                
                a{
                    margin: auto !important;
                    margin-right: 0;
                    transform: scale(1) !important;
                }
            }

        }
        
    }

    footer{
        padding: 0 6rem 0;
        background-size: 120px;
    }

    .contactanos2{
        h1{
            font-size: 4vw;
        }

        .mapaContacto{

        
            .grillaInfo{
                font-size: 28px;
            }
        
        
            .formulario{
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 45px 45px auto;
                grid-template-areas: 
                    "nombre email"
                    "asunto asunto"
                    "mensaje mensaje";
            }
        

        }

    }

}



